* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 150%;
}
ul,ol {
    list-style-position: inside;
}
h4,h5 {
    text-transform: capitalize;
}
h5 {
    font-size: larger;
}
p {
    text-align: center;
}
.build {
    font-weight: 700;
    font-style: oblique;
}
li {
    font-style: italic;
}