* {
    font-family: 'Times New Roman', Times, serif;
}

#title {
    font-size: 85px;
    text-align: center;
    color: aqua;
    background-color: blue;
}

.container-recipes {
    text-align: center;
}

li {
    list-style-type: disc;
    list-style-position: inside; 
}

.recipes {
    color: aqua;
    background-color: black;
}

.background {
    background-image: image(./images/odin.jpg);
}