* {
    font-family: 'Times New Roman', Times, serif;
    
}

body {
    background-image: url("./images/odin2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

#title {
    margin-top: 50px;
    font-size: 70px;
    text-align: left;
    color: aquamarine;
    
}

.container-recipes {
    margin-top: 500px;
    margin-bottom: 70px;
    text-align: center;
}

li {
    list-style-type: disc;
    list-style-position: inside; 
}

.recipes {
    color: aquamarine;
    font-size: 30px;
}