* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("./images/odin.jpg");
}

#title {
    font-size: 85px;
    text-align: center;
    color: aqua;
    
}

.container-recipes {
    text-align: center;
}

li {
    list-style-type: disc;
    list-style-position: inside; 
}

.recipes {
    color: aquamarine;
    font-size: 30px;
}